:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 11px;

  /* Colors */
  --color-mintcream: #fcfff7;
  --color-white: #fff;

  /* Paddings */
  --padding-sm: 8px;
  --padding-md: 17px;

  /* border radiuses */
  --br-md: 9px;
}
