

body {
  margin: 0;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  flex-direction:column;
  min-height:100vh;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);

}



.z-2103w018n001841bp15-1-icon {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}



.background-fill {
  position: relative;
  top: 105px;
  left: 0;
  width: 100%;
  height: 710px;
  background-size: cover;
  opacity: 1;
}



.half-background {
  position: absolute;
  top: 105px;
  left:0;
  width:45%;
  height: 610px;
  background-color: #a8d3ff;
  border: 50px #5570FF;
  opacity: 0.4;
}


.background-1,
.home-child,
.home-item {
  position: absolute;
  left: 0;
  width: 100%;
}

.background-1{
  position: relative;
  top: 104px;
  width: 100%;
  height: 355px;
  opacity: 1;
  background-size: cover;
}

.collage {
  background-image: url("public/collage.png");
}
.src1 {
  background-image: url("public/white-background.png")
}
.src2 {
  background-image: url("public/background2.png");
}

.home-child {
  top: 0;
  background-color: rgba(221, 234, 255, 0.8);
  height: 71px;
  opacity:1;
}
.home-item {
  top: 71px;
  height: 34px;
  width:100%;
  background-color: #767D76;
}
.clients,
.contact,
.events,
.experiences,
.home1,
.partnership,
.product-services,
.profile,
.support {
  position: absolute;
  top: 71px;
  left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 34px;
  cursor: pointer;
}
.clients,
.contact,
.events,
.experiences,
.partnership,
.product-services,
.profile,
.support {
  left: 102px;
  width: 34px;
}
.clients,
.contact,
.events,
.experiences,
.partnership,
.product-services,
.support {
  left: 162px;
  width: 120px;
}
.clients,
.contact,
.events,
.experiences,
.partnership,
.support {
  left: 307px;
  width: 68px;
}
.clients,
.contact,
.events,
.partnership,
.support {
  left: 406px;
  width: 61px;
}
.clients,
.contact,
.events,
.support {
  left: 508px;
  width: 43px;
}
.contact,
.events,
.support {
  left: 544px;
  width: 38px;
}
.contact,
.support {
  top: 71px;
  left: 618px;
  width: 44px;
}
.contact {
  left: 698px;
}

.partnership{
  width: 100px;
}

.mobile-dropdown, .mobile-dropdown-home{
  display: none
}

.wbk-logo-1-icon {
  position: absolute;
  top: 9px;
  left: 33px;
  width: 80px;
  height: 52.34px;
  object-fit: cover;
  cursor: pointer;
}

.wbk-logo-1-icon:hover {
  opacity: 0.75;
}

.contact-us {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-mintcream);
  text-align: center;
  vertical-align:center;
}

.learn-more-about-us{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  text-align:center;
  color: var(--color-mintcream)
}


.contact-us-wrapper{
  cursor: pointer;
  border: 0;
  position: absolute;
  background-color: #3bc752;
  padding: var(--padding-sm) var(--padding-md);
  top: 19px;
  right: 34px; 
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}


.learn-more-about-us-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: #67bc3e;
  position: absolute;
  top: 19px;
  left: 19px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-clip: border-box; 
}
.learn-more-about-us-wrapper {
  background-color: #3ea5bc;
  top: 471px;
  left: 63px;
}

.learn-more-about-us-wrapper:hover, .contact-us-wrapper:hover {
  transform:scale(1.1);
}

.phone {
  position: absolute;
  top: 0;
  left: 20px;
}
.parent,
.telephone-1-1 {
  position: absolute;
  height: 12px;
}
.telephone-1-1 {
  top: 0;
  left: 0;
  width: 12px;
  object-fit: cover;
}
.parent {
  top: 28px;
  right: 150px;
  width: 137px;
  color: #000;
  font-family: var(--font-inter);
}
.our-mission-is,
.title, .title-support, .title-home {
  position: absolute;
  left: 63px;
  right: 63px;
  color: #1D1D1D;
  text-align: left;
  display: flex;
  align-items: center;
}
.title, .title-support, .title-home {
  top: 152px;
  font-size: 32px;
  font-weight: bolder;
  height: 61px;
}

.title-home {
  font-size: 40px;
  top: 282px;
  color: #ffffff;
}

.title-support {
  top: 262px;
  left: 125px;
  color:#000080;
}

.our-mission-is {
  top: 403px;
  font-size: 20px;
  width: 900px;
  height: 94px;
  color: #000;
}



.page {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  background-color: #ffffff;

}

.title-profile, .title-clients, .title-experience, .title-contact {
  position: absolute;
  left: 63px;
  color: #1D1010;
  text-align: left;
  display: flex;
  align-items: center;
}
.title-profile, .title-clients, .title-experience, .title-contact {
  top: 152px;
  font-size: 32px;
  font-weight: bolder;
  width: 519px;
  height: 61px;
}

.title-clients, .title-experience, .title-contact {
  top: 202px;
}


.title-product {
  position: absolute;
  left: 63px;
  color: #1D1010;
  text-align: left;
  display: flex;
  align-items: center;
}
.title-product {
  top: 152px;
  font-size: 32px;
  font-weight: bolder;
  height: 61px;
}


.subtitle, .support-login, .subtitle-home {
  position: absolute;
  font-size:15px;
  height: 94px;
  top: 230px;
  left:63px;
  right: 63px;
  text-align: left;
}

.support-login {
  top: 330px;
  left: 125px;
  width:400px;
  height:120px;
  vertical-align:middle;
}

.subtitle-home {
  top: 383px;
  font-size: 24px;
  color:#ffffff;
  display:flex;
  flex-wrap:wrap;
}

.contact-content {
  position: absolute;
  font-size: 16px;
  left:63px;
  text-align:left;
  top: 300px;
  color: #1D1010;
}

.support-copyright {
  position: absolute;
  top: 480px;
  left: 125px;
  font-size: 12px;
  color: #1D1D1D;
  text-align:left;
  font-weight:600;
}

.subtitle-profile, .client-list1, .client-list2, .subtitle-experience {
  position: absolute;
  font-size:15px;
  height: 94px;
  top: 220px;
  
  text-align: left;
  color: #1D1010
}

.subtitle-experience {
  top:280px;
  font-size:18px;
  left:63px;
  font-weight: 600;
  right:63px;
}

.client-list1, .client-list2 {
  top:310px;
  width:600px;
}

.subtitle-profile, .client-list1, .contact-content {
  left:63px;
}

.client-list2 {
  right:63px;
}

.subtitle-product {
  position: absolute;
  font-size:20px;
  width: 1200px;
  height: 94px;
  top: 220px;
  left:63px;
  text-align: left;
  color: #1D1010;
  font-weight: bolder;
}


.product-icon{
  position: absolute;
  top: 265px;
  left: 63px;
  right: 63px;
}

.product-icon-img {
  width: 384px;
  height: auto;
  object-fit: cover;
}



.partner-content {
  position:absolute;
  top: 230px;
  left: 63px;
  font-size: 20px;
  text-align:left;
  color: #FFFFFF
}

.product-content, .event-content {
  position:absolute;
  top:500px;
  left: 100px;
  right: 100px;
  color: #000;
  font-size: 13px;
  text-align:justify;
}

.event-content{
  text-align: justify;
  top: 510px;
  left: 100px;
  right: 100px;
}

.profile-content, .exp-content {
  position:absolute;
  top: 520px;
  left: 100px;
  right: 100px;
  text-align:center;
}

.profile-content {
  left: 140px;
  right: 140px;
}

.profile-about {
  text-align: justify;
  color:#000;
  font-size:13px;

}

.exp-content {
  top: 520px;
  text-align: justify;
}

.exp-content-head {
  position: relative;
  text-align: center;
  align-items: center;
  color: #8D00CF;
  font-weight: bold;
  font-size:18px;
}

.exp-num-container1, .exp-num-container2, .exp-num-container3, .exp-num-container4, .exp-num-container5, .exp-num-container6, .exp-num-container7, .exp-num-container8, .exp-num-container9, .exp-num-container10, .exp-num-container11, .exp-num-container12, .exp-num-container13, .exp-num-container14, .exp-num-container15, .exp-num-container16, .exp-num-container17, .exp-num-container18, .exp-num-container19, .exp-num-container20, .exp-num-container21, .exp-num-container22, .exp-num-container23, .exp-num-container24, .exp-num-container25 {
  position: absolute;
  left:0;
  height: 47px;
  width: 47px;
}

.exp-desc-container1, .exp-desc-container2, .exp-desc-container3, .exp-desc-container4, .exp-desc-container5, .exp-desc-container6, .exp-desc-container7, .exp-desc-container8, .exp-desc-container9, .exp-desc-container10, .exp-desc-container11, .exp-desc-container12, .exp-desc-container13, .exp-desc-container14, .exp-desc-container15, .exp-desc-container16, .exp-desc-container17, .exp-desc-container18, .exp-desc-container19, .exp-desc-container20, .exp-desc-container21, .exp-desc-container22, .exp-desc-container23, .exp-desc-container24, .exp-desc-container25 {
  position: absolute;
  height: 47px;
  width: 1100px;
  left: 80px;
}

.exp-num-container1, .exp-desc-container1 {
  top: 50px;
}

.exp-num-container2, .exp-desc-container2 {
  top:120px;
}

.exp-num-container3, .exp-desc-container3 {
  top:190px
}

.exp-num-container4, .exp-desc-container4 {
  top: 260px;
}

.exp-num-container5, .exp-desc-container5 {
  top: 330px
}

.exp-num-container6, .exp-desc-container6 {
  top: 400px;
}

.exp-num-container7, .exp-desc-container7 {
  top: 470px;
}

.exp-num-container8, .exp-desc-container8 {
  top: 540px;
}

.exp-num-container9, .exp-desc-container9 {
  top: 610px;
}

.exp-num-container10, .exp-desc-container10 {
  top: 680px;
}


.exp-num-container11, .exp-desc-container11 {
  top: 750px;
}


.exp-num-container12, .exp-desc-container12 {
  top: 820px;
}

.exp-num-container13, .exp-desc-container13 {
  top: 890px;
}

.exp-num-container14, .exp-desc-container14 {
  top: 960px;
}

.exp-num-container15, .exp-desc-container15 {
  top: 1030px;
}

.exp-num-container16, .exp-desc-container16 {
  top: 1100px;
}

.exp-num-container17, .exp-desc-container17{
  top:1170px;
}

.exp-num-container18, .exp-desc-container18 {
  top: 1240px;
}

.exp-num-container19, .exp-desc-container19 {
  top: 1310px;
}

.exp-num-container20, .exp-desc-container20 {
  top: 1380px;
}

.exp-num-container21, .exp-desc-container21 {
  top: 1450px;
}

.exp-num-container22, .exp-desc-container22 {
  top: 1520px;
}

.exp-num-container23, .exp-desc-container23 {
  top: 1590px;
}

.exp-num-container24, .exp-desc-container24 {
  top: 1660px;
}

.exp-num-container25, .exp-desc-container25 {
  top: 1730px;
}

.exp-text {
  position: absolute;
  top: 1850px;
  font-size:13px;
  text-align: left;
  color: #000;
}


.exp-desc-title, .exp-desc-title-short{
  position: absolute;
  left:0;
  top:0;
  color:#000;
  font-size:15px;
  font-weight: bold;
  text-align: left;
}

.exp-desc-title-short {
  display: none;
}

.exp-desc {
  position: absolute;
  top: 22px;
  color:#000;
  font-size:12px;
  text-align: left;
}

.exp-num-circle{
  position: absolute;
  height:30px;
  width:30px;
  top: 5px;
  left: 9px;

  object-fit: cover;
}

.exp-num, .exp-num-dd {
  position: absolute;
  top:10px;
  left: 20px;

  font-size:14px;
  color: #8D00CF;
  font-weight:bolder;
  text-align:center;
}

.exp-num-dd{
  left: 15.5px;
}

.profile-content-head {
  text-align: center;
  align-items: center;
  color:#1D1010;
  font-weight:bold;
  font-size:18px
}

.timeline-2005, .timeline-2006, .timeline-2007, .timeline-2008, .timeline-2009, .timeline-2010, .timeline-2011, .timeline-2012, .timeline-2013, .timeline-2014, .timeline-2015, .timeline-2016, .timeline-2017, .timeline-2018, .timeline-2020 {
  position: absolute;
  width:400px;
  text-align: justify;
}


.timeline-2005, .timeline-2007, .timeline-2009, .timeline-2011, .timeline-2013, .timeline-2015, .timeline-2017, .timeline-2020 {
  right: 100px;
}

.timeline-2006, .timeline-2008, .timeline-2010, .timeline-2012, .timeline-2014, .timeline-2016, .timeline-2018 {
  left: 100px;
}


.timeline-2005{
  top: 30px
}

.timeline-2006 {
  top: 215px;
}

.timeline-2007{
  top: 400px;
}

.timeline-2008 {
  top: 585px;
}

.timeline-2009 {
  top: 770px;
}

.timeline-2010 {
  top: 955px;
}

.timeline-2011 {
  top:1140px;
}

.timeline-2012{
  top:1325px;
}

.timeline-2013 {
  top:1510px;
}

.timeline-2014 {
  top:1695px;
}

.timeline-2015 {
  top:1880px;
}

.timeline-2016 {
  top: 2065px;
}

.timeline-2017 {
  top: 2250px;
}

.timeline-2018 {
  top:2435px;
}

.timeline-2020 {
  top:2620px;
}

b.timeline-title {
  color: #5570FF;
  font-size: 15px;
}

span.timeline-content {
  color: #001DB2;
  font-size: 12px;
}

.timeline-line, .timeline-event {
  position: relative;
  top: 50px;
  background-color: #a3ffc2;
  width:13px;
  height: 2600px;
  align-items:center;

}

.timeline-event {
  top: 70px;
  left: 100px;
  height:2320px;
}

.timeline-circle{
  position:relative;
  right:9.1px;
  bottom: 1px;
  align-items:center;
  width:30px;
  height:30px;
  object-fit:cover;
}


.map {
  position:absolute;
  top: 220px;
  right: 250px;
  align-items:left;
}

.profile-ITAward, .profile-bestperformance {
  position:absolute;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  top: 220px;
  height: 300px;
  width: 200px;
  color: #1D1010;
}

.profile-ITAward {
  left: 400px;
}

.profile-bestperformance {
  right: 400px;
}

.profile-awards-img {
  position: relative;
  height: 190px;
  width: auto;
  object-fit: cover;
  opacity: 1;
}



.product-wincore-framework, .product-wincore-banner1{
  position:relative;
  height: 289px;
  width: auto;
  text-align: center;
  border: 2px #a3ffc2;
  border-radius:10px;
}

.product-wincore-banner1 {
  height: 138px;
  width: auto;
}

strong.product-head {
  font-size: 15px;
}

.header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 10;
}

.footcontainer-normal, .footcontainer-product, .footcontainer-profile, .footcontainer-exp, .footcontainer-event, .footcontainer-client {
  position:relative;
  height: 260px;
  width: 100%;
  left: 0;
  background-color: #DDEAFF;
}



.footcontainer-client {
  top: 1550px;
}


.footcontainer-product{
  top: 2700px;

}

.footcontainer-profile {
  position:absolute;
  top:4100px
}

.footcontainer-exp {
  top: 2800px;
}

.footcontainer-event {
  position:absolute;
  top: 10000px;
}

.footer-about, .footer-portfolio, .footer-support, .footer-contact {
  position:absolute;
  top: 60px;
  font-size: 12px;
  color: #1D1010;
  text-align: left;
}

.footer-about {
  left: 123px;
}

.footer-portfolio {
  left: 393px;
}

.footer-support {
  left: 663px;
}

.footer-contact {
  left: 933px;
}

.footer-logo {
  position: absolute;
  top: 110px;
  left: 1195px;
  height: 95px;
  width: auto;
  opacity:1;
  object-fit: cover;
}

.login-inputbox{
  width:205px;
  height:25px;
  border: 2px #767D76;
  border-radius: 4px;
}

.login-button {
  background-color: #3ea5bc;
  color: #FFFFFF;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

a.footer-link, a.dropdown-link{
  text-decoration:underline;
  color:#1D1010;
  cursor: pointer;
}

a.dropdown-link {
  color: #ffffff;
}

a.footer-link:hover {
  color: #8D00CF;
  font-weight:600;
}


a.newpage {
  text-decoration: none;
  color: #FFFFFF;
}

a.newpage:hover {
  color:#32E57A;
  font-weight:600;
}

a.client_pdf {
  text-decoration: underline;
  font-weight:bold;
  color: #1D1010;
  cursor: pointer;
}

strong.headline, strong.profile-headline{
  font-size:18px;
}

strong.profile-headline {
  position: relative;
  left: 50px;
}


a.sub-head {
  font-size: 14px;
}

img.event-img, img.event-img-left, img.event-img-right {
  position:relative;
  width:300px;
  height:auto;
  object-fit:cover;
  opacity:1;
  cursor: pointer;
}

img.event-img-left {
  position: absolute;
  top: 0;
  left: 200px;
}

img.event-img-right {
  position: absolute;
  top: 0;
  right: 200px;
}


img.event-img-2 {
  height: 190px;
  width: auto;
  object-fit: cover;
  opacity: 1;
  cursor: pointer;
}

.event-container-img {
  position: relative;
  width: 100%;
  height: 240px;
  text-align: center;
  align-items:center;
}

.event-projects {
  position: relative;
  width: 100%;
}

.event-2020-imgcontainer, .event-2018-imgcontainer, .event-2016-imgcontainer, .event-2015-imgcontainer, .event-2014-imgcontainer, .event-2013-imgcontainer, .event-2011-imgcontainer, .event-2010-imgcontainer, .event-2009-imgcontainer, .event-2008-imgcontainer, .event-2007-imgcontainer, .event-2006-imgcontainer {
  position: absolute;
  top: 31px;
  left: 250px;
  width: 1000px;
  vertical-align: center;
  align-items: center; 
}

.event-2018-imgcontainer {
  top: 241px;
}

.event-2016-imgcontainer {
  top: 451px;
}

.event-2015-imgcontainer {
  top: 661px;
}

.event-2014-imgcontainer{
  top: 871px;
}

.event-2013-imgcontainer{
  top: 1081px;
}

.event-2011-imgcontainer{
  top: 1291px;
}

.event-2010-imgcontainer {
  top: 1501px;
}

.event-2009-imgcontainer {
  top: 1711px;
}

.event-2008-imgcontainer {
  top: 1921px;
}

.event-2007-imgcontainer {
  top: 2131px;
}

.event-2006-imgcontainer {
  top: 2341px;
}

.event-timeline-subcontainer1, .event-timeline-subcontainer2, .event-timeline-subcontainer3 {
  align-items: left;
  text-align: left;
  width: 200px;
}

.event-timeline-subcontainer1 {
  position: absolute;
  left: 0px;
}

.event-timeline-subcontainer2 {
  position: absolute;
  left:420px;
}

.event-timeline-subcontainer3 {
  position: absolute;
  left: 840px;
}


.event-timeline-img {
  position:absolute;
  height: 100px;
  width: auto;
  object-fit:cover;
  opacity:1;
  cursor: pointer;
}

.event-timeline-label {
  position: absolute;
  top: 110px;
  width: 200px;
  font-weight:600;
  font-size: 13px;
  text-align: left;
}

.event-2020-text, .event-2018-text, .event-2016-text, .event-2015-text, .event-2014-text, .event-2013-text, .event-2011-text, .event-2010-text, .event-2009-text, .event-2008-text, .event-2007-text, .event-2006-text {
  position: absolute;
  top: 72px;
  left: 30px;
  font-weight: bolder;
  text-align: left;
  font-size: 16px;
}

.event-2018-text {
  top: 282px;
}

.event-2016-text {
  top: 492px;
}

.event-2015-text {
  top: 702px;
}

.event-2014-text {
  top: 913px;
}

.event-2013-text {
  top: 1123px;
}

.event-2011-text {
  top: 1333px;
}

.event-2010-text {
  top: 1543px;
}

.event-2009-text{
  top: 1753px;
}

.event-2008-text {
  top: 1963px;
}

.event-2007-text {
  top: 2173px;
}

.event-2006-text {
  top: 2383px;
}

.event-img:hover, .event-img-left:hover, .event-img-right:hover, .event-img-1:hover, .event-img-2:hover, .event-img-3:hover, .event-timeline-img:hover {
  opacity:0.75;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin:auto;
  display: block;
  width: 70%;
  max-height: 80%;
  max-width:700px;
  object-fit:fill;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size:15px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.about-image {
  position: absolute;
  left: 50px;
  width: 500px;
  text-align: left;
  align-items:left;
}

.about-text {
  position: absolute;
  right: 50px;
  width: 650px;
  text-align: justify;
  font-size: 14px;
}

.clients-content {
  position:absolute;
  top: 445px;
  font-size: 22px;
  text-align: center;
  left: 63px;
  right: 63px;
  color:#1D1010;
  font-weight: 600;
}

.clients-img{
  height:85px;
  width: auto;
  object-fit:fill;
  opacity: 1;
}



.maxava-background {
  width:430px; 
  height: 90px; 
  border: 2px#5570FF; 
  border-radius: 9px; 
  background-color:#5F9EA0;
}



#mcore, #wincore, #wincore-framework, #banner1, #banner2, #banner3, #banner4 {
  border: 2px #32E57A;
  border-radius: 10px;
  cursor:pointer;
}

#banner1, #banner2, #banner3, #banner4 {
  height: 130px;
  width: auto;
}


#mcore:hover, #wincore:hover, #wincore-framework:hover, #banner1:hover, #banner2:hover, #banner3:hover, #banner4:hover {
  opacity: 0.75;
}


#home-header:hover, #event-header:hover, #footer-event:hover {
  color:#3ea5bc;
}

#home-dd, #event-dd {
  -webkit-tap-highlight-color: #3ea5bc;
}

#profile-header:hover, #footer-profile:hover {
  color:#32E57A;
}

#profile-dd {
  -webkit-tap-highlight-color: #32E57A;
}

#product-header:hover, #support-header:hover, #footer-product:hover, #footer-support:hover {
  color: 	#FFFF00;
}

#product-dd, #support-dd {
  -webkit-tap-highlight-color: #FFFF00;
}


#exp-header:hover, #contact-header:hover, #footer-exp:hover, #exp-dd:hover, #contact-dd:hover {
  color: #FFA500;
}

#exp-dd, #contact-dd, #contact-dd2 {
  -webkit-tap-highlight-color: #FFA500;
}

#client-header:hover, #footer-client:hover {
  color: #8B008B;
}

#client-dd {
  -webkit-tap-highlight-color: #8B008B;
}

.dropdown {
  display: none;
  position: fixed;
  z-index: 100;
  top: 104px;
  width: 100%;
  height: 370px;
  background-color: rgb(51,51,204, 0.95);
  text-align: left;
  opacity: 1;
}

.menu {
  position: absolute;
  top: 15px;
  list-style: none;
  font-size: 15px;
  text-align: left;
}

ul.menu li {
  margin-bottom: 20px;
  color:#1D1010;
}

.title-mobile {display:none}

.atm-image {
  width: 500px;
  height: 278px;
}

.profile-timeline-container{
  position: relative; 
  display:inline-block;
  text-align:center;
}

#visible-mobile {
  display: none;
}

.contact-side {
  position: absolute;
  top: 30px;
  left: 300px;
  font-size: 15px;
  text-align: left;
}



@media only screen and (max-width: 1280px){
  body {
    overflow-x: hidden;
  }

  .footer-contact{
    display: none;
  }

  .footer-logo {
    left: 833px;
  }

  .atm-image {
    width: 400px;
    height: 278px;
  }

  .src2 {
    background-image: url("public/background2-mobile.png")
  }

  .event-timeline-subcontainer3{
    left: 0px;
    top: 211px;
  }

  .event-2011-imgcontainer {
    top: 1501px;
  }
  .event-2010-imgcontainer {
    top: 1711px;
  }
  .event-2009-imgcontainer {
    top: 1921px;
  }
  .event-2008-imgcontainer {
    top: 2131px;
  }
  .event-2007-imgcontainer {
    top: 2341px;
  }
  .event-2006-imgcontainer {
    top: 2551px;
  }


  .event-2011-text {
    top: 1543px;
  }
  .event-2010-text{
    top: 1753px;
  }
  .event-2009-text {
    top: 1963px;
  }
  .event-2008-text {
    top: 2173px;
  }
  .event-2007-text {
    top: 2383px;
  }
  .event-2006-text {
    top: 2593px;
  }

  .footcontainer-event {
    top: 10500px;
  }

  #visible-mobile {
    display: flex;
  }

  #invisible-mobile {
    display: none;
  }
  .timeline-event {
    height: 2530px;
  }

}


@media only screen and (max-width: 1024px){
  body {
    overflow-x: hidden;
  }

  .background-fill {
    position: relative;
    top: 105px;
    left: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    opacity: 1;
  }
  .atm-image {
    width: 320px;
    height: 200px;
  }

  .half-background {
    display: none;
  }

  .clients-img {
    height: 60px;
    width: auto
  }
  
  .maxava-background {
    height: 70px;
    width: 360px;
  }

  img.event-img-2 {
    height: 140px;
    width: auto;
  }

  .footcontainer-event {
    top: 10800px;
  }

  .event-timeline-subcontainer2{
    left: 250px;
  }

  img.event-img{
    width: 270px;
    height: auto;
  }
}

@media only screen and (max-width: 1000px){
  body {
    overflow-x: hidden;
  }



  .footcontainer-normal, .footcontainer-product, .footcontainer-profile, .footcontainer-exp, .footcontainer-event, .footcontainer-client {
    height: 420px;
  }

  .footer-logo {
    top: 250px;
    left: 550px;
  }

  .atm-image {
    width: 320px;
    height: 200px;
  }

  .profile-timeline-container{
    position: relative; 
    display:flex;
    text-align:left;
    left: 50px;
  }

  .timeline-2005, .timeline-2006, .timeline-2007, .timeline-2008, .timeline-2009, .timeline-2010, .timeline-2011, .timeline-2012, .timeline-2013, .timeline-2014, .timeline-2015, .timeline-2016, .timeline-2017, .timeline-2018, .timeline-2020{
    left: 100px;
  }



  
  .map {
    top: 550px;
    right: 320px;
  }

  .product-icon-img {
    width: 280px;
    height: auto;
    object-fit: cover;
  }

  #banner1, #banner2, #banner3, #banner4 {
    width: 220px;
    height: auto;
  }

  .exp-desc{
    width: 500px;
  }

  .exp-num-container1, .exp-desc-container1 {
    top: 70px;
  }
  .exp-num-container2, .exp-desc-container2 {
    top:170px;
  }
  .exp-num-container3, .exp-desc-container3 {
    top:270px;
  }
  .exp-num-container4, .exp-desc-container4 {
    top:370px;
  }
  .exp-num-container5, .exp-desc-container5 {
    top:470px;
  }
  .exp-num-container6, .exp-desc-container6 {
    top:570px;
  }
  .exp-num-container7, .exp-desc-container7 {
    top:670px;
  }
  .exp-num-container8, .exp-desc-container8 {
    top:770px;
  }
  .exp-num-container9, .exp-desc-container9 {
    top:870px;
  }
  .exp-num-container10, .exp-desc-container10 {
    top:970px;
  }
  .exp-num-container11, .exp-desc-container11 {
    top:1070px;
  }
  .exp-num-container12, .exp-desc-container12 {
    top:1170px;
  }
  .exp-num-container13, .exp-desc-container13 {
    top:1270px;
  }
  .exp-num-container14, .exp-desc-container14 {
    top:1370px;
  }
  .exp-num-container15, .exp-desc-container15 {
    top:1470px;
  }
  .exp-num-container16, .exp-desc-container16 {
    top:1570px;
  }
  .exp-num-container17, .exp-desc-container17 {
    top:1670px;
  }
  .exp-num-container18, .exp-desc-container18 {
    top:1770px;
  }
  .exp-num-container19, .exp-desc-container19 {
    top:1870px;
  }
  .exp-num-container20, .exp-desc-container20 {
    top:1970px;
  }
  .exp-num-container21, .exp-desc-container21 {
    top:2070px;
  }
  .exp-num-container22, .exp-desc-container22 {
    top:2170px;
  }
  .exp-num-container23, .exp-desc-container23 {
    top:2270px;
  }
  .exp-num-container24, .exp-desc-container24 {
    top:2370px;
  }
  .exp-num-container25, .exp-desc-container25 {
    top:2470px;
  }

  .exp-text {
    top:2600px;
  }

  .footcontainer-exp{
    top: 3500px;
  }

  .clients-img {
    height: 50px;
    width: auto
  }

  .maxava-background {
    height: 60px;
    width: 330px;
  }

  .footcontainer-event {
    top: 11500px;
  }

}

@media only screen and (max-width: 768px){

  .experiences, .partnership, .events, .contact {
    display: none;
  }

  .profile-content {
    left: 20px;
    right: 20px;
  }

  .support {
    left:162px;
  }

  .mobile-dropdown, .mobile-dropdown-home{
    display: flex;
    position: absolute;
    top: 82.5px;
    left: 247px;
    cursor: pointer;
  }

  .mobile-dropdown-home {
    top: 79px;
  }
  
  .experiences, .partnership, .events, .contact, .product-services {
    display: none;
  }

  .more {
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size:11px;
    font-weight: normal;
  }
  ul.menu li {
    margin-bottom: 10px;
    color:#1D1010;
  }
  .dropdown {
    height:372px;
  }

    
  .contact-side {
    display:none;
  }


  
  .footcontainer-normal, .footcontainer-product, .footcontainer-profile, .footcontainer-exp, .footcontainer-event, .footcontainer-client {
    height: 600px;
  }


  .footer-about, .footer-portfolio, .footer-support {
    left: 75px;
  }

  .footer-portfolio {
    top: 230px;
  }
  .footer-support {
    top: 370px;
  }

  .footer-logo {
    top: 450px;
    left: 400px;
    height: 80px;
    width: auto;
  }

  .event-timeline-img {
    width: 100px;
    height: auto;
  }
  .event-timeline-label{
    width: 100px;
  }
  .event-timeline-subcontainer2{
    left: 170px;
  }

  .product-icon{
    top: 245px;
  }
  .product-icon-img {
    width: 220px;
    height: auto;
    object-fit: cover;
  }

  img.event-img{
    width: 250px;
    height: auto;
  }

  img.event-img-2 {
    height: 190px;
    width: auto;
    object-fit: cover;
    opacity: 1;
    cursor: pointer;
  }
}



@media only screen and (max-width:480px){
  body {
    overflow-x: hidden;
  }
  
  .page {
    position: relative;
    text-align: center;
    font-size: var(--font-size-base);
    font-family: var(--font-open-sans);
    background-color: #ffffff;
  }
  .background-fill {
    position: relative;
    top: 105px;
    left: 0;
    width: 100%;
    height: 900px;
    object-fit: cover;
    opacity: 1;
  }

  .experiences, .partnership, .events, .contact, .product-services {
    display: none;
  }

  .support {
    left:173px;
  }




  .clients-content {
    left: 10px;
    right: 10px
  }


  .title-home {
    top: 322px;
    left:40px;
    right: 40px;
    font-size: 30px;
  }
  .title-profile {
    top: 200px;
    font-size: 30px;
  }
  .title-product {
    top: 141px;
    font-size: 30px;
    left: 40px;
  }
  .subtitle-home {
    left: 40px;
    right: 40px;
    font-size: 18px;
    top: 450px;

  }
  .subtitle-product{
    left: 40px;
    top: 201px;
    font-size: 18px;
    text-align: left
  }
  .title-clients {
    top: 212px;
    left: 30px;
    font-size: 30px;
    text-align: left;
  }
  .title-contact {
    left: 50px;
    font-size: 30px;
  }
  .title-experience {
    top: 172px;
    left: 50px;
    font-size: 30px;
  }
  .title {
    font-size: 30px;
    left: 50px;
  }


  .subtitle-experience{
    top: 250px;
    left: 50px;
    right: 50px;
    font-size: 18px;
    text-align: justify;
    
  }

  .parent{
    display: none;
  }

  .learn-more-about-us {
    font-size: 15px;
  }
  .learn-more-about-us-wrapper {
    left: 40px;
    top: 562px;
  }


  .atm-image {
    width: 310px;
    height: 172.34px;
  }
  .cntr-mobile {
    text-align: center;
  }

  .map {
    top: 500px;
    left: 50px;
  }

  .profile-timeline-container{
    position: relative; 
    display:flex;
    text-align:left;
    left: 0;
  }

  .timeline-line {
    left: 40px;
  }

  .timeline-2005, .timeline-2006, .timeline-2007, .timeline-2008, .timeline-2009, .timeline-2010, .timeline-2011, .timeline-2012, .timeline-2013, .timeline-2014, .timeline-2015, .timeline-2016, .timeline-2017, .timeline-2018, .timeline-2020 {
    position: absolute;
    width:250px;
    text-align: justify;
    left: 90px;
    right: 70px;
    
  }
  .timeline-2015 {
    top:1850px;
  }
  .timeline-2016 {
    top: 2035px;
  }

  .timeline-2017 {
    top: 2270px;
  }
  

  .footcontainer-profile {
    top: 4400px;
  }

  .product-icon {
    top: 235px;
  }

  .product-icon-img {
    width: 220px;
    height: auto;
    object-fit: cover;
  }

  .product-content {
    left:40px;
    right: 40px;
  }

  .product-wincore-framework {
    height: 150px;
    width: auto;
  }
  #banner1, #banner2, #banner3, #banner4 {
    width: 250px;
    height: auto;
  }
  
  .footcontainer-product{
    top: 3400px;
  
  }

  .contact-content {
    top: 280px;
    left: 50px;
  }
  .footcontainer-client {
    top: 1550px;
  }
  
  .clients-img{
    height:60px;
    width: auto;
    object-fit:fill;
    opacity: 1;
  }
  .maxava-background{
    height:70px;
    width: 350px;

  }



  .footcontainer-normal, .footcontainer-product, .footcontainer-profile, .footcontainer-exp, .footcontainer-event, .footcontainer-client {
    height: 600px;
  }


  .footer-about, .footer-portfolio, .footer-support {
    left: 55px;
  }

  .footer-portfolio {
    top: 230px;
  }
  .footer-support {
    top: 370px;
  }

  .footer-logo {
    top: 450px;
    left: 200px;
    height: 80px;
    width: auto;
  }

  .half-background {
    display:none;
  }

  .title-support, .support-copyright {
    left: 30px;
  }
  .support-login{
    left: 4px;
  }
  .title-support {
    font-size: 30px;
  }
  .support-copyright {
    font-size: 14px;
  }

  .exp-content{
    left: 15px;
    right: 15px;
  }

  .exp-desc {
    width: 250px;
    text-align: justify;
  }

  .exp-desc-title {
    display:none;
  }
  .exp-desc-title-short{
    display: block;
  }

  .exp-text{
    left: 15px;
    right: 15px;
    text-align: justify;
    top: 2600px;
  }

  .exp-num-container1, .exp-num-container2, .exp-num-container3, .exp-num-container4, .exp-num-container5, .exp-num-container6, .exp-num-container7, .exp-num-container8, .exp-num-container9, .exp-num-container10, .exp-num-container11, .exp-num-container12, .exp-num-container13, .exp-num-container14, .exp-num-container15, .exp-num-container16, .exp-num-container17, .exp-num-container18, .exp-num-container19, .exp-num-container20, .exp-num-container21, .exp-num-container22, .exp-num-container23, .exp-num-container24, .exp-num-container25 {
    left: 10px;
  }

  .footcontainer-exp{
    top: 3500px;
  }

  .event-content {
    left: 50px;
    right: 50px;
  }

  img.event-img{
    width: 250px;
    height: auto;
  }

  img.event-img-2 {
    height: 190px;
    width: auto;
    object-fit: cover;
    opacity: 1;
    cursor: pointer;
  }

  .timeline-event{
    display: none;
  }

  .footcontainer-event {
    top: 15500px;
  }

  .event-2020-text, .event-2018-text, .event-2016-text, .event-2015-text, .event-2014-text, .event-2013-text, .event-2011-text, .event-2010-text, .event-2009-text, .event-2008-text, .event-2007-text, .event-2006-text {
    left: 0px;
  }

  .event-2020-imgcontainer, .event-2018-imgcontainer, .event-2016-imgcontainer, .event-2015-imgcontainer, .event-2014-imgcontainer, .event-2013-imgcontainer, .event-2011-imgcontainer, .event-2010-imgcontainer, .event-2009-imgcontainer, .event-2008-imgcontainer, .event-2007-imgcontainer, .event-2006-imgcontainer{
    left: 60px;
  }

  .event-timeline-img {
    width: 100px;
    height: auto;
  }
  .event-timeline-label{
    width: 100px;
  }
  .event-timeline-subcontainer2{
    left: 150px;
  }

  .event-timeline-subcontainer3{
    left: 0px;
    top: 211px;
  }

  .event-2011-imgcontainer {
    top: 1501px;
  }
  .event-2010-imgcontainer {
    top: 1711px;
  }
  .event-2009-imgcontainer {
    top: 1921px;
  }
  .event-2008-imgcontainer {
    top: 2131px;
  }
  .event-2007-imgcontainer {
    top: 2341px;
  }
  .event-2006-imgcontainer {
    top: 2551px;
  }


  .event-2011-text {
    top: 1543px;
  }
  .event-2010-text{
    top: 1753px;
  }
  .event-2009-text {
    top: 1963px;
  }
  .event-2008-text {
    top: 2173px;
  }
  .event-2007-text {
    top: 2383px;
  }
  .event-2006-text {
    top: 2593px;
  }
  
  .contact-side {
    display:none;
  }
  .profile-content {
    left: 20px;
    right: 20px;
  }
}


@media only screen and (max-width:376px){
  
  .atm-image {
    width: 290px;
    height: 161.22px;
  }
  .clients-img {
    height: 55px;
    width: auto
  }

  .maxava-background {
    height: 60px;
    width: 330px;
  }

  .support-login {
    left: 0px;
  }

  .title-contact, .contact-content, .map {
    left: 30px;
  }

  .footcontainer-event {
    top: 16150px;
  }
  .event-timeline-subcontainer2{
    left: 130px;
  }
}

@media only screen and (max-width: 360px){
  

  .product-services, .profile {
    display:none;
  }

  .support {
    left: 102px;
  }

  .mobile-dropdown, .mobile-dropdown-home {
    left:176px;
  }
  
  .profile-content {
    left:10px;
    right: 10px;
  }

  .product-icon-img {
    width: 190px;
    height: auto;
    object-fit: cover;
  }


  .timeline-2005, .timeline-2006, .timeline-2007, .timeline-2008, .timeline-2009, .timeline-2010, .timeline-2011, .timeline-2012, .timeline-2013, .timeline-2014, .timeline-2015, .timeline-2016, .timeline-2017, .timeline-2018, .timeline-2020 {
    position: absolute;
    width:200px;
    text-align: justify;
    left: 90px;
    right: 70px;
    
  }
  .timeline-2007{
    top: 370px;
  }

  .timeline-2009 {
    top: 740px;
  }

  .timeline-2012 {
    top: 1295px;
  }
  .timeline-2013 {
    top: 1490px;
  }

  .timeline-2014 {
    top: 1655px;
  }

  .exp-desc-container1, .exp-desc-container2, .exp-desc-container3, .exp-desc-container4, .exp-desc-container5, .exp-desc-container6, .exp-desc-container7, .exp-desc-container8, .exp-desc-container9, .exp-desc-container10, .exp-desc-container11, .exp-desc-container12, .exp-desc-container13, .exp-desc-container14, .exp-desc-container15, .exp-desc-container16, .exp-desc-container17, .exp-desc-container18, .exp-desc-container19, .exp-desc-container20, .exp-desc-container21, .exp-desc-container22, .exp-desc-container23, .exp-desc-container24, .exp-desc-container25 {
    left: 60px;
  }

  .exp-num-container1, .exp-num-container2, .exp-num-container3, .exp-num-container4, .exp-num-container5, .exp-num-container6, .exp-num-container7, .exp-num-container8, .exp-num-container9, .exp-num-container10, .exp-num-container11, .exp-num-container12, .exp-num-container13, .exp-num-container14, .exp-num-container15, .exp-num-container16, .exp-num-container17, .exp-num-container18, .exp-num-container19, .exp-num-container20, .exp-num-container21, .exp-num-container22, .exp-num-container23, .exp-num-container24, .exp-num-container25 {
    left: 0px;
  }

  .event-content {
    left: 40px;
    right: 40px;
  }
}

@media only screen and (max-width: 320px){



  .footer-logo {
    left: 150px;
  }
  .atm-image {
    width: 260px;
    height: 144.54px;
  }

  .product-icon {
    top: 245px;
  }
  .product-icon-img {
    width: 165px;
    height: auto;
    object-fit: cover;
  }
  #banner1, #banner2, #banner3, #banner4 {
    width: 220px;
    height: auto;
  }

  .footcontainer-product {
    top: 3800px;
  }

  .title-product, .title-profile, .title-clients, .title-experience, .title-contact {
    font-size: 24px;
  }
  .subtitle-experience {
    font-size: 16px;
  }
  .exp-content-head {
    font-size: 17px;
  }


  .clients-content {
    font-size: 18px;
  }

  .subtitle-product, .contact-content {
    font-size: 15px;
  }

  .exp-content {
    left:10px;
    right:10px;
  }
  .exp-desc-title-short {
    font-size: 14px;
  }
  .exp-desc {
    width: 225px;
  }
  .exp-desc-container1, .exp-desc-container2, .exp-desc-container3, .exp-desc-container4, .exp-desc-container5, .exp-desc-container6, .exp-desc-container7, .exp-desc-container8, .exp-desc-container9, .exp-desc-container10, .exp-desc-container11, .exp-desc-container12, .exp-desc-container13, .exp-desc-container14, .exp-desc-container15, .exp-desc-container16, .exp-desc-container17, .exp-desc-container18, .exp-desc-container19, .exp-desc-container20, .exp-desc-container21, .exp-desc-container22, .exp-desc-container23, .exp-desc-container24, .exp-desc-container25 {
    left: 55px;
  }

  .title-contact, .contact-content {
    left: 15px;
  }
  .map {
    top: 442px;
    left: 8px;
  }

  .title-contact {
    top: 152px;
  }
  .contact-content{
    top: 232px;
  }

  .footcontainer-event {
    top: 17750px;
  }
}



@media only screen and (max-height:480px){



  .footcontainer-event {
    top: 13000px;
  }
  .footcontainer-product {
    top: 2900px;
  }


}

